<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=utf-8" />
    <title>Home</title>
  </head>
<body>
  <h1>
    {{error}}<br>
    {{msg}}
  </h1>

  1. Create Customer
  <form action="addCustomer" method="post">
    <input type="text" placeholder="customerID" name="customerid">
    <input type="text" placeholder="full name" name="name">
    <input type="text" placeholder="email" name="email">
    <input type="submit" value="Add Customer">
  </form><br>

  2. Create Ticket
  <form action = "createTicket" method="post">
    <input type="text" placeholder="ticketID" name="ticketid">
    <input type="text" placeholder="productID" name="productid">
    <input type="number" placeholder="priority" name="priority" min="1" max="3">
    <textarea placeholder="message" name="problem"></textarea>
    <input type="text" placeholder="customerID" name="customerid">
    <input type="submit" value="Submit ticket">
  </form><br>

  3. Update Ticket
  <form action="updateTicket" method="post">
    <input type="text" placeholder="ticketupdateID" name="ticketupdateid">
    <textarea placeholder="message" name="message"></textarea>
    <input type="text" placeholder="ticketID" name="ticketid">
    <input type="text" placeholder="staffID" name="staffid">
    <input type="submit" value="Submit Update">
  </form><br>

  4. List Open Tickets
  <form action="showOpenTickets" method="get">
    <input type="submit" value="List Tickets">
  </form><br>

  5. Close Ticket
  <form action="closeTicket" method="post">
    <input type="text" placeholder="ticketid" name="ticketid">
    <input type="submit" value="Close Ticket">
  </form><br>

  6. Ticket Updates
  <form action="ticketUpdates" method="get">
    <input type="text" placeholder="ticketID" name="ticketid">
    <input type="submit" value="List Updates">
  </form><br>

  7. Ticket Report
  <form action="ticketReport" method="get">
    <input type="submit" value="List Report">
  </form><br>

  8. Remove Customer
  <form action="removeCustomer" method="get">
    <input type="text" placeholder="customerID" name="customerid">
    <input type="submit" value="Remove Customer">
  </form>

</body>
</html>
